<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>销售</title>
    {% endblock %}
</head>
<body>

{% block h1 %}
<h1>销售人员名单</h1>
{% endblock %}

{% block state %}
<h3>返回状态:{{ ret_state }}</h3>
{% endblock %}

    {% for i in data %}
        <p>id : {{ i.id }}</p>
        <p>name : {{ i.name }}</p>
        <p>phoneNumber : {{ i.phoneNumber }}</p>
        <p>address : {{ i.address }}</p>
        <p>email : {{ i.email }}</p>
        <br>
    {% endfor %}

</body>
</html>