{# 引用base.html #}
{% extends 'base.html' %}

{# 导入静态文件，以供备用 #}
{% load staticfiles %}

{# head #}
{% block title %}
    主页
{% endblock %}

{% block head_extends %}
    {#  引入图表  #}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
{% endblock %}
{# head #}

{# body #}
{% block nav_index_active %}active{% endblock %}

{% block content %}
    <h2 style="text-align: center">欢迎访问我的主页<small>——每24小时更新一次</small></h2><br><br><br>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
            <!-- 图表容器 DOM -->
            <div id="container" style="width: 800px;height:600px;margin: 0 auto"></div>
        </div>

        <div class="hidden-xs col-sm-4 col-md-3 col-lg-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;&nbsp;近7天热门博客</h4>
                </div>
                <div class="panel-body">
                    <ul class="blog_type">{# /*blog右边栏*/ #}
                        {% for hot_title,hot_data in hot_blogs.items %}
                            <li>
                                <a href="{% url 'blog:blog_detail' hot_data.object_id %}">
                                    {{ hot_title }}
                                    <span style="margin-left: 2em">({{ hot_data.read_num_sum }})</span>
                                </a>
                            </li>
                        {% empty %}
                            <li>暂无热门博客</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

<script>
    // 图表配置
    var options = {
        chart: {    type: 'line'    },                          //指定图表的类型，默认是折线图（line）

        title: {    text: '近一周阅读量'  },                 // 标题

        xAxis: {
            categories: {{ dates|safe }},
            tickmarkPlacement:'on'
        },   // x 轴分类

        yAxis: {
            labels: { enabled:false },
            title: { text: null }
        },

        series: [
                    {
                        name: '阅读量',                        // 数据列名
                        data: {{ week_datas }}                 // 数据
                    }
            ],

        legend :{   enabled: false  },

        credits :{  enabled: false  },

        plotOptions: {
            line: {
                dataLabels: { enabled: true }
            }
        },

    };
    // 图表初始化函数
    var chart = Highcharts.chart('container', options);
</script>
{% endblock %}
{# body #}
