{% extends 'base.html' %}

{% block title %}
    登录
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title" style="text-align: center">{% block login_title %}登录{% endblock %}</h3>
              </div>
              <div class="panel-body">
{#                  form如果不写清楚要提交到的action的位置的话，那么系统默认post方法提交数据到的是当前的页面#}
                <form class="form-horizontal" method="post">
                    {% csrf_token %}
                        {% block field %}
                            {% for field in login_form %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            <p class="text-danger">{{ field.errors.as_text }}</p>
                            {% endfor %}
                        {% endblock %}
                    <sapn class="pull-left text-danger">{{ login_form.non_field_errors.as_text }}</sapn>
                    <input type="submit" class="btn btn-primary pull-right">
                </form>
              </div>
            </div>
        </div>
    </div>
{% endblock %}