/*blog右边栏*/
.blog_type li{
    margin-top: 10px;
}

/*blog左边预览正文*/
.blog:not(:last-child){
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}
.blog h3{
    margin-top: 0.5em;
}

/*博客创建信息（于博客列表）*/
.blog_info{
    padding-bottom: 6px;
}

/*博客创建信息（于某一博客*/
.blog_detail_info{
    padding-bottom: 0.75em;
    padding-top: 1em;
}

/*分页器居中*/
.mypaginator{
    text-align: center;
}

div.django-ckeditor-widget {
    width: 100%;
}