{% extends 'base.html' %}
{% block title %} MyBlog  {% endblock %}

{% load staticfiles %}

{% block head_extends %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block nav_blog_active %}active{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4>
                        {% block blog_type %}
                            博客
                        {% endblock %}
                    </h4>
                </div>
                <div class="panel-body">
                    {% for blog in page_of_blogs.object_list %}
                        <div class="blog">
                            <h3>
                                <a href="{% url 'blog:blog_detail' blog.id %}">
                                    {{ blog.title }}
                                </a>
                            </h3>
                            <small>
                                <div class="blog_info">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;{{ blog.author }}&nbsp;&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp{{ blog.created_time|date:" Y-m-d H:i" }}&nbsp;&nbsp;&nbsp;
                                {% if blog.get_read_num %}
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;{{ blog.get_read_num }}&nbsp;&nbsp;&nbsp;
                                {% else %}
                                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                                {% endif %}&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="{% url 'blog:blog_relevant' blog.blog_type.id %}">
                                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;{{ blog.blog_type }}
                                </a>&nbsp;&nbsp;&nbsp;
                                </div>
                            </small>
                            <p>{{ blog.content|safe|truncatechars_html:100 }}</p>
                        </div>
                    {% empty %}
                        <div class="blog">
                            <h3>尚无文章，敬请期待</h3>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {# 分页器 #}
            <div class="mypaginator">
              <ul class="pagination">
                {# first one #}
                <li>
                    <a href="?page=1">
                        <span aria-hidden="true">First</span>
                    </a>
                </li>

                <li>
                    {% if page_of_blogs.has_previous %}
                    <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    {% else %}
                        <span aria-hidden="true">&laquo;</span>
                    {% endif %}
                </li>

                {% for page_num in page_range %}
                    {% if page_num == page_of_blogs.number %}
                        <li class="active">
                            <span>{{ page_num }}</span>
                        </li>
                    {% else %}
                        <li>
                            <a href="?page={{ page_num }}">{{ page_num }}</a>
                        </li>
                    {% endif %}

                {% endfor %}

                <li>

                    {% if page_of_blogs.has_next %}
                    <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    {% else %}
                    <span aria-hidden="true">&raquo;</span>
                    {% endif %}

                </li>
                <li>
                    <a href="?page={{ page_of_blogs.paginator.num_pages }}">
                        <span aria-hidden="true">Last</span>
                    </a>
                </li>
              </ul>
            </div>
        </div>


        <div class="hidden-xs col-sm-4 col-md-3 col-lg-3">
            {# 博客统计 #}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;&nbsp;博客统计</h4>
                </div>
                <div class="panel-body">
                    <ul class="blog_type">
                            <li>
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;
                                    {% block blog_number_totle %}
                                        博文总数:
                                    {% endblock %}
                                <span style="margin-left: 2em">{{ page_of_blogs.paginator.count }}</span>
                            </li>
                    </ul>
                </div>
            </div>

            {# 博客分类（类型） #}
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;&nbsp;博客分类</h4>
                </div>
                <div class="panel-body">
                    <ul class="blog_type">{# /*blog右边栏*/ #}
                        {% for blog_type in blog_types %}
                            <li>
                                <a href="{% url 'blog:blog_relevant' blog_type.id %}">
                                    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;
                                    {{ blog_type.type_name }}
                                    <span style="margin-left: 2em">({{ blog_type.blog_count }})</span>
                                </a>
                            </li>
                        {% empty %}
                            <li>暂无博客分类</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {# 博客分类（时间）基于blog_type修改即可 #}
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;&nbsp;时间分类</h4>
                </div>
                <div class="panel-body">
                    <ul class="blog_type">{# /*blog右边栏*/ #}
                        {% for blog_date,blog_count in blog_dates.items %}
                            <li>
                                <a href="{% url 'blog:blog_date' blog_date.year blog_date.month %}">
                                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;
                                    {{ blog_date|date:" Y年m月" }}
                                    <span style="margin-left: 2em">({{ blog_count }})</span>
                                </a>
                            </li>
                        {% empty %}
                            <li>暂无博客分类</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>

    </div>





{% endblock %}