{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    博客详情
{% endblock %}

{% block head_extends %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    {#  富文本评论的js  #}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block nav_blog_active %}active{% endblock %}

{% block content %}
    <div class="col-xs-10 col-xs-offset-1">
            <h1>{{ blog.title }}</h1>
        <div class="blog_detail_info">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;{{ blog.author }}&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp{{ blog.created_time|date:" Y-m-d H:i" }}&nbsp;&nbsp;&nbsp;
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;{{ blog.get_read_num }}&nbsp;&nbsp;&nbsp;
            <a href="{% url 'blog:blog_relevant' blog.blog_type.id %}">
                <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>&nbsp;{{ blog.blog_type }}
            </a>&nbsp;&nbsp;&nbsp;
        </div>

        <div class="panel panel-default">
          <div class="panel-body">
            <p class="blog_content">{{ blog.content|safe }}</p>
          </div>

            <div class="panel-footer">
                <ul class="pager">
                <li class="previous">
                    {% if blog_previous %}
                    <a href="/blog/detail/{{ blog_previous.id }}">上一篇：{{ blog_previous.title }}</a>
                    {% else %}
                        <span>上一篇：<span class="glyphicon glyphicon-ban-circle"></span></span>
                    {% endif %}
                </li>

                <li class="next">
                    {% if blog_next %}
                    <a href="/blog/detail/{{ blog_next.id }}">下一篇：{{ blog_next.title }}</a>
                    {% else %}
                        <span>下一篇：<span class="glyphicon glyphicon-ban-circle"></span></span>
                    {% endif %}
                </li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">评论</div>
          <div class="panel-body">
              {% if user.is_authenticated %}
                  <form id="comment_form" action="/comment/update_comment" method="post">
                      <div id="reply_content_container" style="display:none;">
                            <p>回复：</p>
                            <div id="reply_content"></div>
                      </div>
                      {% csrf_token %}
                      {{ comment_form }}
                        <span id="comment-error" class="text-danger pill-left"></span>
                      <input type="submit" value="评论" class="btn btn-primary pull-right">
                  </form>
              {% else %}
                  <a class="btn btn-primary" href="/user_auth/login/?from={{ request.get_full_path }}">登录即可评论</a>
                  <a class="btn btn-danger" href="/user_auth/register/?from={{ request.get_full_path }}">先去注册~</a>
              {% endif %}

          </div>

        {#  评论显示的预留位  #}
            <div class="panel panel-success">
                  <div class="panel-body" id="append_comment_body">
                  </div>
                  <div class="panel-footer">

                      <small style="color: #777;" id="append_comment_footer"></small>
                      <p class="text-primary pull-right" hidden id="rencently-comment">这是您刚刚的发言</p>
                  </div>
              </div>

        {#    评论展示    #}
              {% for blog_comment in blog_comments %}
                  <div class="panel panel-default">
                      <div class="panel-body" id="comment_{{ blog_comment.id }}">
                        {{ blog_comment.text|safe }}        {# 可能sql注入。。 #}
                      </div>
                      <div class="panel-footer">
                          <small style="color: #777;">{{ blog_comment.user }}{{ blog_comment.comment_time|date:" Y-m-d H:i" }}</small>
                          <a href="javascript:reply({{ blog_comment.id }});" class="pull-right">回复</a>
                      </div>
              {# 评论对应的回复展示 #}
                      <ul class="list-group" id="reply-show">
                            {% for reply in blog_comment.root_comment.all %}
                                <li class="list-group-item">
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                    <span class="glyphicon glyphicon-menu-right"></span>&nbsp;&nbsp;{{ reply.user.username }}&nbsp;&nbsp;回复&nbsp;&nbsp;{{ reply.reply_to.username }}
                                        <span class="pull-right" style="color: #ccc">
                                            {{ reply.comment_time|date:"Y-m-d H:i" }}
                                        </span>：
                                    <div id="comment_{{ reply.id }}">
                                        <p> {{ reply.text|safe }} </p>
                                    </div>

                                    <a href="javascript:reply({{ reply.id }});" class="pull-right">回复</a>
                                </li>
                            {% endfor %}
                      </ul>
                  </div>
              {% empty %}
                  <li class="list-group-item">暂无评论</li>
              {% endfor %}
        </div>
    </div>

{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        $('#comment_form').submit(function () {
                // 前端jQuery的一道非空保障（虽说不能完全保障，但也能节省一些服务器的性能）
                $('#comment-error').text('');
                if (CKEDITOR.instances['id_text'].document.getBody().getText().trim()==''){
                    $('#comment-error').text('评论内容不能为空');
                    return false;
                }

                //更新数据到textarea（避免第一次提交评论，总是触发提交失败的情况）
                CKEDITOR.instances['id_text'].updateElement();

                //实现异步提交
                $.ajax({
                    url: "/comment/update_comment",
                    type: 'POST',
                    data: $('#comment_form').serialize(),
                    catch :false,
                    // 当请求成功时运行的函数
                    success: function (data) {
                        console.log(data);
                        if (data["status"] == 'SUCCESS'){
                            // 给预留位赋值
                            $("#append_comment_body").html("<p>" + data['text'] + "</p>");
                            $("#append_comment_footer").text(data['username']+' '+data['comment_time']);
                            $("#reply-show").load(location.href+" #reply-show");
                            $('#rencently-comment').show()
                            // 清空ckeditor的内容
                            CKEDITOR.instances['id_text'].setData('');
                        }
                        else {
                            // 显示错误信息
                            $('#comment-error').text(data['message']);
                        }

                    },

                    // 当请求失败时运行的函数
                    error: function (xhr) {
                        console.log(xhr);
                    }
                })
                return false;
        });

         function reply(reply_comment_id){
            // 点击回复，设置reply_comment_id值，为该comment对象的id
            $('#reply_comment_id').val(reply_comment_id);

            // 获取对应被回复的html元素，并将获取到的元素内容赋值到富文本上方
            var html = $("#comment_" + reply_comment_id).html();
            $('#reply_content').html(html);
            $('#reply_content_container').show();

            // 实现一个缓慢上移的效果，移到富文本框，并且focus富文本框
            $('html').animate({scrollTop: $('#comment_form').offset().top - 60}, 300, function(){
                CKEDITOR.instances['id_text'].focus();
            });
        }
    </script>
{% endblock %}